Reiner/Service References/SecretariatService/SecretariatService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SecretariatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:22884/SecretariatService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:22884/SecretariatService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecretariatService_CheckConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnection" />
  </wsdl:message>
  <wsdl:message name="ISecretariatService_CheckConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ISecretariatService_CheckLastURL_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLastURL" />
  </wsdl:message>
  <wsdl:message name="ISecretariatService_CheckLastURL_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLastURLResponse" />
  </wsdl:message>
  <wsdl:message name="ISecretariatService_CheckStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStatus" />
  </wsdl:message>
  <wsdl:message name="ISecretariatService_CheckStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ISecretariatService_CheckStartTime_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStartTime" />
  </wsdl:message>
  <wsdl:message name="ISecretariatService_CheckStartTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStartTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ISecretariatService_TestURL_InputMessage">
    <wsdl:part name="parameters" element="tns:TestURL" />
  </wsdl:message>
  <wsdl:message name="ISecretariatService_TestURL_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestURLResponse" />
  </wsdl:message>
  <wsdl:portType name="ISecretariatService">
    <wsdl:operation name="CheckConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretariatService/CheckConnection" message="tns:ISecretariatService_CheckConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretariatService/CheckConnectionResponse" message="tns:ISecretariatService_CheckConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLastURL">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretariatService/CheckLastURL" message="tns:ISecretariatService_CheckLastURL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretariatService/CheckLastURLResponse" message="tns:ISecretariatService_CheckLastURL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretariatService/CheckStatus" message="tns:ISecretariatService_CheckStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretariatService/CheckStatusResponse" message="tns:ISecretariatService_CheckStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckStartTime">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretariatService/CheckStartTime" message="tns:ISecretariatService_CheckStartTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretariatService/CheckStartTimeResponse" message="tns:ISecretariatService_CheckStartTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestURL">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecretariatService/TestURL" message="tns:ISecretariatService_TestURL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecretariatService/TestURLResponse" message="tns:ISecretariatService_TestURL_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISecretariatService" type="tns:ISecretariatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckConnection">
      <soap:operation soapAction="http://tempuri.org/ISecretariatService/CheckConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLastURL">
      <soap:operation soapAction="http://tempuri.org/ISecretariatService/CheckLastURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStatus">
      <soap:operation soapAction="http://tempuri.org/ISecretariatService/CheckStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStartTime">
      <soap:operation soapAction="http://tempuri.org/ISecretariatService/CheckStartTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestURL">
      <soap:operation soapAction="http://tempuri.org/ISecretariatService/TestURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecretariatService">
    <wsdl:port name="BasicHttpBinding_ISecretariatService" binding="tns:BasicHttpBinding_ISecretariatService">
      <soap:address location="http://localhost:22884/SecretariatService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>